@import url('reset.css');

/* ========= common */
.wrap{position: relative; width: 100%;}
.container{position: relative; width: 100%; padding-top: 80px; background: #F0F2F5;}
.inner{position: relative; max-width: 940px; padding:0 20px; margin: 0 auto; padding-top: 48px; padding-bottom: 90px;}
.con_wrap{width: 100%; background: #FFFFFF; border-radius: 10px; margin-bottom: 24px;}

.admin_warp{position: relative; width: 100%; min-width: 1080px; display: flex; background: #fff; color: #333; letter-spacing: -0.64px;}

.gnb_warp{width: 317px; height: 100vh; padding: 40px; }

.contents{width: 100%; padding: 40px 40px 94px 40px;}

.contents_warp{position: relative;width: calc(100% - 317px); border-left: 1px solid #ddd;}

footer{margin-left: 318px; position: absolute; bottom: 0; left: 0; width: calc(100% - 318px); padding: 20px 30px; background: #eceef6; color: #999; font-size: 16px; font-weight: 500;}

/* ========= input style */
input[type='checkbox']{width: 16px; height: 16px;border-radius: 3px;border: 1px solid #DDD;background: #FFF;vertical-align: middle;}
input[type='checkbox']:checked{background: url(../images/checkbox_on.svg) no-repeat center;}
input[type='text'],
input[type='password']{width: 100%; font-size: 16px; border: 0; outline: 0; padding: 18px 16px;border-radius: 12px;border: 1px solid #E9E9E9;background: #FFF;}
input::placeholder{color: #B4BBC9;font-size: 16px;font-weight: 400;letter-spacing: -0.64px;}
input[type='text']:focus,
input[type='password']:focus{border: 1px solid #3B3F47;}

.select{appearance: none; -webkit-appearance: none; -moz-appearance: none; width: 100%; padding: 15px 20px; border-radius: 5px; border: 1px solid #EEE; background: url(../images/icon_arrow_down.svg) no-repeat right 20px top 21px; color: #333; font-size: 16px;font-weight: 500;line-height: 18px;letter-spacing: -0.64px;}

/* ========= table style */
.tb_01{width: 100%;}
.tb_01 tr th{height: 48px; padding: 15px; color: #4157A5;text-align: center;font-size: 16px;font-weight: 700;letter-spacing: -0.64px; background: #ECEEF6;}
.tb_01 tr th:first-child{border-radius: 5px 0 0 5px;}
.tb_01 tr th:last-child{border-radius: 0 5px 5px 0;}
.tb_01 tr td{height: 48px; padding: 15px; color: #333;text-align: center;font-size: 16px;font-weight: 500;letter-spacing: -0.64px;}

.tb_01 tbody tr:hover{background: #F9F9F9;}

/* ========= content style */

/* title */
.title_content{color: #000;font-size: 30px;font-weight: 700;letter-spacing: -1.2px;}

.contents h2{margin-bottom: 30px;}

/* pagination */
.pagination_area{width: 100%; display: flex;}
.pagination{display: flex; align-items: center; justify-content: center; margin: 0 auto;}
.pagination button{width: 48px; height: 48px;}
.pagination .btn_first{background: url(../images/icon_arrow_first.svg)no-repeat center;}
.pagination .btn_prev{background: url(../images/icon_arrow_prev.svg)no-repeat center;}
.pagination .btn_next{background: url(../images/icon_arrow_right.svg)no-repeat center;}
.pagination .btn_last{background: url(../images/icon_arrow_last.svg)no-repeat center;}
.pagination .numbering{display: flex; align-items: center;}
.pagination .numbering li a{display: block; width: 48px; height: 48px; padding: 16px; border-radius: 10px;  color: #333;text-align: center;font-size: 16px;font-weight: 500;letter-spacing: -0.64px; vertical-align: middle;}
.pagination .numbering li a:hover{background: #F9F9F9;}
.pagination .numbering li a.active{background: #ECEEF6; color: #4157A5;}

/* ========= button style */
.btn{width: 100%; border-radius: 10px; color: #fff; vertical-align: middle; font-weight: 700;}
.btn.large{height: 43px; font-size: 16px; letter-spacing: -0.16px;}
.btn.small{height: 38px; border-radius: 8px; font-size: 15px; letter-spacing: -0.15px;}
.btn.primary{background: #4157A5;}
.btn.gray{background: #797D84;} 
.btn:disabled{background: #CCC;}
.btn_text{display: block; margin: 0 auto; color: #A4ABB7;text-align: center;font-size: 14px;font-weight: 500;line-height: 18px; /* 128.571% */letter-spacing: -0.56px;text-decoration-line: underline;}

.btn_block{display: flex;align-items: center;}
.btn_block.center{justify-content: center;}

.btn_admin{width: 180px; height: 48px; text-align: center;font-size: 16px;font-weight: 700;letter-spacing: -0.64px; border-radius: 10px;}
.btn_admin.blue{background: #4157A5; border: 1px solid #4157A5; color: #fff;}
.btn_admin.white{border: 1px solid #4157A5; background: #FFF; color: #4157A5;}

/* ========= modal style */
.modal_overlay{display: none; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; z-index: 5000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.60);}
.modal_overlay.active{display: flex;}
.modal_dialog{width: 90%; max-width: 315px; background: #fff; border-radius: 14px;}
.modal_dialog .modal_util{padding: 20px 16px 16px 20px; display: flex; align-items: center; justify-content: space-between;}
.modal_dialog .modal_util span{color: #4157A5;font-size: 16px;font-weight: 600;line-height: 18px;letter-spacing: -0.16px;}
.modal_dialog .modal_util .close_modal{width: 24px; height: 24px;}
.modal_dialog .modal_content{padding: 24px 20px 40px 20px;}

.modal_dialog .modal_content .modal_text_main{margin-bottom: 6px; color: #333;text-align: center;font-size: 18px;font-weight: 600;line-height: 22px; /* 122.222% */letter-spacing: -0.18px;}
.modal_dialog .modal_content .modal_text_sub{margin-bottom: 22px; color: #666;text-align: center;font-size: 15px;font-weight: 400;line-height: 20px; /* 133.333% */letter-spacing: -0.15px;}

.modal_footer{padding: 0 20px 20px 20px;}
.modal_footer .btn_block{gap: 6px;}

/* 로그인 토스트 팝업 */
.login_toast_modal{width: 90%; position: absolute; bottom: 46px; left: 50%; transform: translateX(-50%); border-radius: 200px;background: rgba(0, 0, 0, 0.60);display: flex;padding: 16px 26px;justify-content: space-between;align-items: center; gap: 17px;}
.login_toast_modal span{color: #FFF;font-size: 15px;font-weight: 400;line-height: 18px; /* 120% */letter-spacing: -0.15px;}

/* ========= icon */
[class*="icon_"] {display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: 50%; background-size: cover;}
.icon_close_bl{background: url(../images/icon-close-bl.svg)no-repeat center;}
.icon_close_w{background: url(../images/icon-close-w.svg)no-repeat center;}

/* ========= badge */
.badge_new{height: 17px; vertical-align: middle; padding: 3px 5px; margin-right: 4px; display: inline-block; border-radius: 3px;background: #4157A5; color: #FFF;font-size: 10px;font-weight: 700;}


/* ========= size */
.size_16{width: 16px; height: 16px;}
.size_24{width: 24px; height: 24px;}


/* ========= login */
.login_warp{padding: 0 40px; height: 100%; display: flex; justify-content: center; align-items: center;}
.login_con{width: 100%; max-width: 295px;}
.login_con .logo_box{display: flex; justify-content: center; margin-bottom: 46px;}
.login_con .logo_box img{width: 86px;}

.login_form .input_box{margin-bottom: 8px;}
.login_form .input_box.password{margin-bottom: 14px;}

.login_btn_box{display: flex; justify-content: space-between; align-items: center; margin-bottom: 52px;}

.login_btn_box label{color: #686D76;font-size: 14px;font-weight: 400;letter-spacing: -0.56px; vertical-align: middle;}
.login_btn_box button{color: #686D76;font-size: 14px;font-weight: 400;letter-spacing: -0.56px;}

/* ========= 임시 비밀번호 발급 */
.modal_dialog .modal_content.temporary_pw input[type='text']+input[type='text']{margin-top: 6px;} 
.pw_issuance_email{padding: 12px;border-radius: 12px;background: #F5F7FA;font-weight: 500;font-size: 14px; color: #333; line-height: 24px;text-align: center;}
.modal_dialog .modal_content.login_pw_email{padding-bottom: 30px;}
.login_pw_email .btn_text{margin-top: 20px;}
.login_toast_modal .close_modal .icon_close_w{background-size: 10px;}

/* ========= gnb */
.gnb_warp .logo_area{margin-bottom: 40px;}
.gnb_warp .logo_area img{width: 217px;}
.gnb_warp .gnb li a{display: inline-block; width: 100%; font-size: 16px; font-weight: 500; letter-spacing: -0.64px; padding: 14px 20px;}
.gnb_warp .gnb .home a{color: #4157A5; font-weight: 700; }
.gnb_warp .gnb .home.on a{border-radius: 10px;background: rgba(65, 87, 165, .1); color: #4157A5; font-weight: 700;}
.gnb_warp .gnb li:has(.depth2) > a{background: url(../images/icon_arrow_down.svg) no-repeat right 20px center;}
.gnb_warp .gnb li:has(.depth2) > a.active{background: url(../images/icon_arrow_up.svg) no-repeat right 20px center;}

.gnb_warp .gnb li .depth2{display: none; padding-left: 20px;}
.gnb_warp .gnb li:has(a.active) .depth2{display: block;}
.gnb_warp .gnb li .depth2 li a{padding: 14px 20px; color: #999;}
.gnb_warp .gnb li .depth2 li.on a{border-radius: 10px;background: rgba(65, 87, 165, .1); color: #4157A5; font-weight: 700;}

/* info_dropdown */
.info_dropdown{position: absolute; top: 40px; right: 40px; display: inline-block;}
.info_dropdown::after{content: ''; position: relative;}
.info_dropdown button{display: flex; align-items: center;}
.info_dropdown button img{width: 40px; height: 40px; margin-right: 10px;}
.info_dropdown button span{color: #000;font-size: 16px;font-weight: 600; padding-right: 16px; background: url(../images/icon_arrow_down.svg)no-repeat right center;}

.info_dropdown ul{display: none; position: absolute; bottom: -119px; right: 0; padding: 15px 20px; border-radius: 10px; background: #FFF; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);}
.info_dropdown ul.active{display: block;}
.info_dropdown ul li{text-align: center;}
.info_dropdown ul li + li{margin-top: 15px;}
.info_dropdown ul li a{color: #333;text-align: center;font-size: 16px;font-weight: 500;}
.info_dropdown ul .logout a{color: #FA6464;}

/* ========= main */
#main{min-width: 1300px;} 
#main .contents .volunteers_status{margin-bottom: 40px;} 
#main .contents .volunteers_status h2 .status_date{padding-left: 10px; color: #AAA;font-size: 16px;font-weight: 700;letter-spacing: -0.64px;}
#main .contents .volunteers_status .vs_list{display: flex;}
#main .contents .volunteers_status .vs_list li{width: 237px; border-radius: 10px; background: rgba(65, 87, 165, .1); text-align: center; padding: 40px;}
#main .contents .volunteers_status .vs_list li + li{margin-left: 20px;}
#main .contents .volunteers_status .vs_list li p{margin-bottom: 4px;}
#main .contents .volunteers_status .vs_list li span{font-size: 30px;font-weight: 700;letter-spacing: -1.2px;}
#main .contents .volunteers_status .vs_list li:first-child{background: #4157A5; color: #fff;}

#main .contents .content_area{padding: 30px; border-radius: 10px; border: 1px solid #DDD;}

#main .contents .vs_con_area{display: flex;}
#main .volunteer_reporting{margin-right: 20px;}
#main .volunteer_reporting .content_area {height: 368px;}
#main .volunteer_reporting .content_area .main_tab{margin-bottom: 20px;}
#main .volunteer_reporting .content_area .main_tab button{position: relative; margin-right: 23px; color: #AAA;font-size: 16px;font-weight: 500;}
#main .volunteer_reporting .content_area .main_tab button::after{content: ''; position: absolute; left: -14px; top: 50%; display: block; width: 3px; height: 3px; background: #ddd;}
#main .volunteer_reporting .content_area .main_tab button:first-child::after{display: none;}
#main .volunteer_reporting .content_area .main_tab button.active{color: #333; font-weight: 700;}
#main .volunteer_reporting .content_area .tab_content{display: none;} 
#main .volunteer_reporting .content_area .tab_content ul li{width: 437px; display: flex; justify-content: space-between; align-items: center; padding: 20px 0; border-bottom: 1px solid #eee;}
#main .volunteer_reporting .content_area .tab_content ul li:last-child{border-bottom: 0; padding-bottom: 0;}
#main .volunteer_reporting .content_area .tab_content ul li .reporting_title{font-weight: 700;}

#main .main_notice{width: calc(100% - 515px);}
#main .main_notice h2{display: flex; justify-content: space-between;}
#main .main_notice h2 button{color: #4157A5; font-size: 16px; font-weight: 700;}
#main .main_notice .content_area{height: 368px;}
#main .main_notice ul li{border-bottom: 1px solid #eee;}
#main .main_notice ul li:last-child{border-bottom: 0;}
#main .main_notice ul li a{display: inline-block; padding: 20px 0; width: 100%;}
#main .main_notice ul li:first-child a{padding-top: 0;}
#main .main_notice ul li:last-child a{padding-bottom: 0;}
#main .main_notice ul li a p{color: #AAA;}
#main .main_notice ul li a .notice_title{width: 98%; font-weight: 700; margin-bottom: 10px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* ========= search area */
.search_area{width: 100%; border-radius: 10px; border: 1px solid #DDD; padding: 30px; margin-bottom: 20px; display: flex; flex-wrap: wrap; gap: 20px 30px; } 

/* .search_area .form_group{margin-right: 30px;} */
.search_area .form_group label{color: #333;font-size: 16px;font-weight: 700;letter-spacing: -0.64px; margin-right: 15px;}
.search_area .form_group .select{width: 200px;}

.form_group.sc_group{display: flex; align-items: center;}
.form_group.sc_group .sc_text{display: flex; align-items: center; border-radius: 5px; border: 1px solid #EEE; padding: 15px 20px; height: 50px; min-width: 486px;}
.form_group.sc_group .sc_text input{border: none; padding: 0;}
.form_group.sc_group .sc_text button{margin-left: 10px;}

/* ========= table_area */
.table_area{width: 100%; border-radius: 10px; border: 1px solid #DDD; padding: 30px; margin-bottom: 30px; min-height: 679px;}