@import url('reset.css');

/* ========= common */
.wrap{position: relative; width: 100%;}
.container{position: relative; width: 100%; padding-top: 80px; background: #F0F2F5;}
.inner{position: relative; max-width: 940px; padding:0 20px; margin: 0 auto; padding-top: 48px; padding-bottom: 90px;}
.con_wrap{width: 100%; background: #FFFFFF; border-radius: 10px; margin-bottom: 24px;}

/* ========= input style */
input[type='checkbox']{width: 16px; height: 16px;border-radius: 3px;border: 1px solid #DDD;background: #FFF;vertical-align: middle;}
input[type='checkbox']:checked{background: url(../images/checkbox_on.svg) no-repeat center;}
input[type='text'],
input[type='password']{width: 100%; border: 0; outline: 0; padding: 18px 16px;border-radius: 12px;border: 1px solid #E9E9E9;background: #FFF;}
input::placeholder{color: #B4BBC9;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.64px;}
input[type='text']:focus,
input[type='password']:focus{border: 1px solid #3B3F47;}

/* ========= button style */
.btn{width: 100%; border-radius: 10px; color: #fff; vertical-align: middle; font-weight: 700;}
.btn.large{height: 43px; padding: 12px; font-size: 16px; letter-spacing: -0.16px;}
.btn.small{height: 38px; padding: 10px; border-radius: 8px; font-size: 15px; letter-spacing: -0.15px;}
.btn.primary{ background: #4157A5;}
.btn:disabled{background: #CCC;}

/* ========= login */
.login_warp{padding: 0 40px; height: 100%; display: flex; justify-content: center; align-items: center;}
.login_con{width: 100%; max-width: 295px;}
.login_con .logo_box{display: flex; justify-content: center; margin-bottom: 46px;}
.login_con .logo_box img{width: 86px;}

.login_form .input_box{margin-bottom: 8px;}
.login_form .input_box.password{margin-bottom: 14px;}

.login_btn_box{display: flex; justify-content: space-between; align-items: center; margin-bottom: 52px;}

.login_btn_box label{color: #686D76;font-size: 14px;font-weight: 400;letter-spacing: -0.56px; vertical-align: middle;}
.login_btn_box button{color: #686D76;font-size: 14px;font-weight: 400;letter-spacing: -0.56px;}


