@import url('reset.css');

/* ========= common */
.wrap{position: relative; width: 100%;}
.container{position: relative; width: 100%; padding-top: 80px; background: #F0F2F5;}
.inner{position: relative; max-width: 940px; padding:0 20px; margin: 0 auto; padding-top: 48px; padding-bottom: 90px;}
.con_wrap{width: 100%; background: #FFFFFF; border-radius: 10px; margin-bottom: 24px;}

/* ========= input style */
input[type='checkbox']{width: 14px; height: 14px; background: url(../images/checkbox_off.svg) no-repeat center; vertical-align: middle;}
input[type='checkbox']:checked{background: url(../images/checkbox_on.svg) no-repeat center;}

/* ========= login */
.login_warp{padding: 0 40px; height: 681px; display: flex; justify-content: center; align-items: center;}
.login_con{width: 100%; max-width: 295px;}
.login_con .logo_box{display: flex; justify-content: center; margin-bottom: 50px;}
.login_con .logo_box img{width: 86px;}
.login_con input[type='text'],
.login_con input[type='password']{width: 100%; border: 0; outline: 0;}
.login_con input::placeholder{color: #AAA; font-family: Pretendard; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.56px;}

.login_form .input_box{border-radius: 10px 10px 0px 0px; border: 1px solid #DDD;padding: 20px;}
.login_form .input_box.password{border-radius:  0px 0px 10px 10px; border-top: 0; margin-bottom: 10px;}

.login_btn_box{display: flex; justify-content: space-between; align-items: center; margin-bottom: 50px;}

.login_btn_box label{color: #777; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.56px; vertical-align: middle;}
.login_btn_box button{color: #777; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.56px;}

.btn_login{width: 100%; border-radius: 10px; background: #4157A5; padding: 15px; color: #fff; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.56px;}